<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--  appender : 화면 출력, 파일 출력 
  		로깅 레벨 : error > warn > info(참고사항) > debug(개발 시) > trace(개발 시 - 모두 추적, 너무 양이 많을 수 있음)
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> <!-- 화면 출력 방식 -->
    </encoder>
  </appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
   	 <file>myApp.log</file>

  	  <encoder>
   	   <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
   	 </encoder>
	</appender>

	<logger name = "org.springframework.context" level="info"/>
	<logger name = "org.springframework.jdbc" level="debug"/>
	<logger name = "com.study.mapper" level="debug"/>
	<logger name = "com.study.handler" level="info"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>