<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.MailMapper">

	<!-- 메일 조회 -->
	<!-- <select id="select" resultType="com.study.dto.MailDTO"> select * from 
		mail </select> -->


	<!-- 메일 조회 + 페이지 나누기 -->
	<select id="select" resultType="com.study.dto.MailDTO">
		<![CDATA[ 
        select mail_id,mail_name,mail_title,mail_content,mail_send_date
      	from (
	      		select /*+INDEX_DESC(mail pk_mail)*/ @rownum:=@rownum+1 rn, mail_id,mail_name,mail_title,mail_content,mail_send_date
	            from (
	            		select mail_id,mail_name,mail_title,mail_content,mail_send_date
		                from mail 
		                order by cast(REGEXP_SUBSTR(mail_id, '[0-9]+') as integer) desc
	                  ) as mail1, (select @rownum:=0) mail_rownum
	             where
      	]]>
		<include refid="criteria"></include>
            
	      <![CDATA[
	      @rn:=@rn+1 <= (#{cri.pageNum} * #{cri.amount})
	      ) as mail2, (select @rn:=0) mail_rn
	      where @rn:=@rn+1 > ((#{cri.pageNum} - 1) * #{cri.amount})
      
     ]]>
	</select>
	<!-- 동적 sql -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<!-- priefixOverides로 맨앞에 or 제거 후 시작 -->
			<trim prefix="OR">
				<choose>
					<!-- mail_title 속에서 검색 -->
					<when test="cri.getType()=='W'.toString()">
						mail_title like '%'||#{cri.keyword}||'%'
					</when>
					<!-- mail_content 속에서 검색 -->
					<when test="cri.getType()=='T'.toString()">
						mail_content like '%'||#{cri.keyword}||'%'
					</when>
				</choose>
			</trim>
		</trim>
	</sql>

	<!-- 전체 게시물 숫자니까 int형 -->
	<select id="totalCnt" resultType="int">
		select count(*) from mail where
		<include refid="criteria"></include>
		mail_id >= 'MAIL'
	</select>




	<insert id="emailToDB">
		insert into mail ( mail_id, mail_name, mail_title,
		mail_content)
		values (concat('MAIL', nextval(mail_seq)), #{mail_name},
		#{mail_title},
		#{mail_content})
	</insert>


	<select id="read" resultType="com.study.dto.MailDTO">
		select
		mail_id, mail_name,
		mail_title, mail_content, mail_send_date from mail
		where mail_id =
		#{mail_id}
	</select>


</mapper>